In [2]:
import numpy as np
import pandas as pd

# 1. Ingresos
### Nacion

In [ ]:
dfIngresos=pd.read_excel('/content/Internet_Ingresos.xlsx')
dfIngresos.head(5)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          3               6.705593e+07  Jul-Sept 2022
1  2022          2               6.033572e+07   Abr-Jun 2022
2  2022          1               5.559000e+07   Ene-Mar 2022
3  2021          4               4.546789e+07   Oct-Dic 2021
4  2021          3               4.299994e+07  Jul-Sept 2021

In [ ]:
dfIngresos.Año = dfIngresos.Año.astype('object')
dfIngresos.Trimestre = dfIngresos.Trimestre.astype('object')
dfIngresos['Ingresos (miles de pesos)'] = dfIngresos['Ingresos (miles de pesos)'].astype('int64')

In [ ]:
dfIngresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     object
 1   Trimestre                  35 non-null     object
 2   Ingresos (miles de pesos)  35 non-null     int64
 3   Periodo                    35 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

# 2. Penetracion
### Provincia Habitantes

In [ ]:
dfPenetracionPoblacion=pd.read_excel('/content/Internet_Penetracion.xlsx', sheet_name='Penetración-poblacion')
dfPenetracionPoblacion.head(5)

    Año  Trimestre        Provincia  Accesos por cada 100 hab
0  2022          3     Buenos Aires                     26.37
1  2022          3  Capital Federal                     50.22
2  2022          3        Catamarca                     16.62
3  2022          3            Chaco                     11.72
4  2022          3           Chubut                     25.86

In [ ]:
dfPenetracionPoblacion.Año = dfPenetracionPoblacion.Año.astype('object')
dfPenetracionPoblacion.Trimestre = dfPenetracionPoblacion.Trimestre.astype('object')

In [ ]:
dfPenetracionPoblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       840 non-null    object
 1   Trimestre                 840 non-null    object
 2   Provincia                 840 non-null    object
 3   Accesos por cada 100 hab  840 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.4+ KB

### Penetracion - Provincia Hogar

In [ ]:
dfPenetracionHogares=pd.read_excel('/content/Internet_Penetracion.xlsx', sheet_name='Penetracion-hogares')
dfPenetracionHogares.head(5)

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          3     Buenos Aires                         78.11
1  2022          3  Capital Federal                        122.28
2  2022          3        Catamarca                         65.33
3  2022          3            Chaco                         43.86
4  2022          3           Chubut                         84.38

In [ ]:
dfPenetracionHogares.Año = dfPenetracionHogares.Año.astype('object')
dfPenetracionHogares.Trimestre = dfPenetracionHogares.Trimestre.astype('object')

In [ ]:
dfPenetracionHogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    object
 1   Trimestre                     840 non-null    object
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.4+ KB

### Penetracion - Nacion

In [ ]:
dfPenetracionTotales=pd.read_excel('/content/Internet_Penetracion.xlsx', sheet_name='Penetracion-totales')
dfPenetracionTotales.head(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,76.640000,23.950000,Jul-Sept 2022
1,2022,2,75.965424,23.720442,Abr-Jun 2022
2,2022,1,73.878803,23.049171,Ene-Mar 2022
3,2021,4,73.176397,22.810702,Oct-Dic 2021
4,2021,3,70.578853,21.982550,Jul-Sept 2021

In [ ]:
dfPenetracionTotales.Año = dfPenetracionTotales.Año.astype('object')
dfPenetracionTotales.Trimestre = dfPenetracionTotales.Trimestre.astype('object')

In [ ]:
dfPenetracionTotales['Accesos por cada 100 hogares'] = round(dfPenetracionTotales['Accesos por cada 100 hogares'], 2)
dfPenetracionTotales['Accesos por cada 100 hab'] = round(dfPenetracionTotales['Accesos por cada 100 hab'], 2)

In [ ]:
dfPenetracionTotales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     object
 1   Trimestre                     35 non-null     object
 2   Accesos por cada 100 hogares  35 non-null     float64
 3   Accesos por cada 100 hab      35 non-null     float64
 4   Periodo                       35 non-null     object
dtypes: float64(2), object(3)
memory usage: 1.5+ KB

# 3. Banda
### Provincia

In [ ]:
dfBAFDial=pd.read_excel('/content/Internet_BAF.xlsx', sheet_name='Dial-BAf')
dfBAFDial.head(5)

    Año  Trimestre        Provincia  Banda ancha fija  Dial up    Total
0  2022          3     Buenos Aires           4715469   6199.0  4721668
1  2022          3  Capital Federal           1545534   2145.0  1547679
2  2022          3        Catamarca             70292      1.0    70293
3  2022          3            Chaco            144141      5.0   144146
4  2022          3           Chubut            164874    904.0   165778

In [ ]:
# imputar valores nulos
dfBAFDial['Dial up'].fillna(value=0, inplace=True)

In [ ]:
dfBAFDial.Año = dfBAFDial.Año.astype('object')
dfBAFDial.Trimestre = dfBAFDial.Trimestre.astype('object')
dfBAFDial['Dial up'] = dfBAFDial['Dial up'].astype('int64')

In [ ]:
dfBAFDial.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    object
 1   Trimestre         840 non-null    object
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    int64
 4   Dial up           840 non-null    int64
 5   Total             840 non-null    int64
dtypes: int64(3), object(3)
memory usage: 39.5+ KB

### Banda - Nacion

In [ ]:
dfBAFDialTotales=pd.read_excel('/content/Internet_BAF.xlsx', sheet_name='Totales')
dfBAFDialTotales.head(5)

    Año  Trimestre  Banda ancha fija  Dial up     Total        Periodo
0  2022          3          11078691    12437  11091128  Jul-Sept 2022
1  2022          2          10946248    12436  10958684   Abr-Jun 2022
2  2022          1          10611390    12619  10624009   Ene-Mar 2022
3  2021          4          10476933    12861  10489794   Oct-Dic 2021
4  2021          3          10075184    10357  10085541  Jul-Sept 2021

In [ ]:
dfBAFDialTotales.Año = dfBAFDialTotales.Año.astype('object')
dfBAFDialTotales.Trimestre = dfBAFDialTotales.Trimestre.astype('object')

In [ ]:
dfBAFDialTotales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     object
 1   Trimestre         35 non-null     object
 2   Banda ancha fija  35 non-null     int64
 3   Dial up           35 non-null     int64
 4   Total             35 non-null     int64
 5   Periodo           35 non-null     object
dtypes: int64(3), object(3)
memory usage: 1.8+ KB

# 4. Promedio Velocidad
### Provincia

In [ ]:
dfHistoricoVelocidadProv=pd.read_excel('/content/historico_velocidad_internet.xlsx', sheet_name='Velocidad % por prov')
dfHistoricoVelocidadProv.head(5)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2022          3     Buenos Aires                   70.19
1  2022          3  Capital Federal                  101.05
2  2022          3        Catamarca                   60.99
3  2022          3            Chaco                   53.21
4  2022          3           Chubut                   15.57

In [ ]:
dfHistoricoVelocidadProv.Año = dfHistoricoVelocidadProv.Año.astype('object')
dfHistoricoVelocidadProv.Trimestre = dfHistoricoVelocidadProv.Trimestre.astype('object')

In [ ]:
dfHistoricoVelocidadProv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     840 non-null    object
 1   Trimestre               840 non-null    object
 2   Provincia               840 non-null    object
 3   Mbps (Media de bajada)  840 non-null    float64
dtypes: float64(1), object(3)
memory usage: 26.4+ KB

### Promedio Velocidad - Nacion

In [ ]:
dfHistoricoVelocidadTotales=pd.read_excel('/content/historico_velocidad_internet.xlsx', sheet_name='Totales')
dfHistoricoVelocidadTotales.head(5)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          3                   62.46  Jul-Sept 2022
1  2022          2                   58.44   Abr-Jun 2022
2  2022          1                   55.11   Ene-Mar 2022
3  2021          4                   52.34   Oct-Dic 2021
4  2021          3                   48.46  Jul-Sept 2021

In [ ]:
dfHistoricoVelocidadTotales.Año = dfHistoricoVelocidadTotales.Año.astype('object')
dfHistoricoVelocidadTotales.Trimestre = dfHistoricoVelocidadTotales.Trimestre.astype('object')

In [ ]:
dfHistoricoVelocidadTotales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     object
 1   Trimestre               35 non-null     object
 2   Mbps (Media de bajada)  35 non-null     float64
 3   Trimestre.1             35 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.2+ KB

# 5. Acceso por Tecnologia
### Provincia

In [ ]:
dfAccesosTecnologia=pd.read_excel('/content/Internet_Accesos-por-tecnologia.xlsx', sheet_name='Accesos Por Tecnología')
dfAccesosTecnologia.tail(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
837,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
838,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
839,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfAccesosTecnologia.drop([840, 841], axis=0, inplace=True)
dfAccesosTecnologia.reset_index(drop=True, inplace=True)

In [ ]:
dfAccesosTecnologia.head(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,3,Buenos Aires,339648.0,2748325.0,1436433.0,126846.0,70416.0,4721668.0
1,2022,3,Capital Federal,140791.0,1240125.0,129218.0,5758.0,31787.0,1547679.0
2,2022,3,Catamarca,10010.0,10495.0,46224.0,1329.0,2235.0,70293.0
3,2022,3,Chaco,27164.0,61800.0,44645.0,8178.0,2359.0,144146.0
4,2022,3,Chubut,45377.0,72212.0,9574.0,29784.0,8831.0,165778.0

In [ ]:
dfAccesosTecnologia.ADSL = dfAccesosTecnologia.ADSL.astype('int64')
dfAccesosTecnologia.Cablemodem = dfAccesosTecnologia.Cablemodem.astype('int64')
dfAccesosTecnologia['Fibra óptica'] = dfAccesosTecnologia['Fibra óptica'].astype('int64')
dfAccesosTecnologia.Wireless = dfAccesosTecnologia.Wireless.astype('int64')
dfAccesosTecnologia.Otros = dfAccesosTecnologia.Otros.astype('int64')
dfAccesosTecnologia.Total = dfAccesosTecnologia.Total.astype('int64')

In [ ]:
# renombrar columnas
dfAccesosTecnologia.rename({'Otros': 'OtrosTecno'}, axis=1, inplace=True)

In [ ]:
dfAccesosTecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           840 non-null    object
 1   Trimestre     840 non-null    object
 2   Provincia     840 non-null    object
 3   ADSL          840 non-null    int64
 4   Cablemodem    840 non-null    int64
 5   Fibra óptica  840 non-null    int64
 6   Wireless      840 non-null    int64
 7   OtrosTecno    840 non-null    int64
 8   Total         840 non-null    int64
dtypes: int64(6), object(3)
memory usage: 59.2+ KB

### Acceso por Tecnologia - Nacion

In [ ]:
dfAccesosTecnologiaTotales=pd.read_excel('/content/Internet_Accesos-por-tecnologia.xlsx', sheet_name='Totales')
dfAccesosTecnologiaTotales.head(5)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1395277,6031970,2871541,557110,235230,11091128,Jul-Sept 2022
1,2022,2,1468333,5979214,2723285,556243,231609,10958684,Abr-Jun 2022
2,2022,1,1533240,6073426,2219533,545814,251996,10624009,Ene-Mar 2022
3,2021,4,1657615,5984240,2072236,523107,252596,10489794,Oct-Dic 2021
4,2021,3,1950631,5826257,1566048,492415,250190,10085541,Jul-Sept 2021

In [ ]:
dfAccesosTecnologiaTotales.Año = dfAccesosTecnologiaTotales.Año.astype('object')
dfAccesosTecnologiaTotales.Trimestre = dfAccesosTecnologiaTotales.Trimestre.astype('object')

In [ ]:
# renombrar columnas
dfAccesosTecnologiaTotales.rename({'Otros': 'OtrosTecno'}, axis=1, inplace=True)

In [ ]:
dfAccesosTecnologiaTotales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     object
 1   Trimestre     35 non-null     object
 2   ADSL          35 non-null     int64
 3   Cablemodem    35 non-null     int64
 4   Fibra óptica  35 non-null     int64
 5   Wireless      35 non-null     int64
 6   OtrosTecno    35 non-null     int64
 7   Total         35 non-null     int64
 8   Periodo       35 non-null     object
dtypes: int64(6), object(3)
memory usage: 2.6+ KB

# 6. Acceso por Velocidad
### Provincia

In [ ]:
dfAccesosVelocidad=pd.read_excel('/content/Internet_Accesos-por-velocidad.xlsx', sheet_name='Accesos por velocidad')
dfAccesosVelocidad.head(5)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29985.0,27709.0,290315.0,297915.0,267044.0,124190.0,3618689.0,65821.0,4721668.0
1,2022,3,Capital Federal,517.0,5742.0,34371.0,67829.0,51946.0,28692.0,1253105.0,105477.0,1547679.0
2,2022,3,Catamarca,71.0,384.0,3107.0,5389.0,5099.0,3737.0,50298.0,2208.0,70293.0
3,2022,3,Chaco,461.0,987.0,16782.0,18938.0,8049.0,15828.0,79390.0,3711.0,144146.0
4,2022,3,Chubut,109.0,1444.0,45707.0,30940.0,34682.0,15309.0,17563.0,20024.0,165778.0

In [ ]:
# imputar valores nulos
dfAccesosVelocidad['OTROS'].fillna(value=0, inplace=True)

In [ ]:
dfAccesosVelocidad.Año = dfAccesosVelocidad.Año.astype('object')
dfAccesosVelocidad.Trimestre = dfAccesosVelocidad.Trimestre.astype('object')
dfAccesosVelocidad['HASTA 512 kbps'] = dfAccesosVelocidad['HASTA 512 kbps'].astype('int64')
dfAccesosVelocidad['+ 512 Kbps - 1 Mbps'] = dfAccesosVelocidad['+ 512 Kbps - 1 Mbps'].astype('int64')
dfAccesosVelocidad['+ 1 Mbps - 6 Mbps'] = dfAccesosVelocidad['+ 1 Mbps - 6 Mbps'].astype('int64')
dfAccesosVelocidad['+ 6 Mbps - 10 Mbps'] = dfAccesosVelocidad['+ 6 Mbps - 10 Mbps'].astype('int64')
dfAccesosVelocidad['+ 10 Mbps - 20 Mbps'] = dfAccesosVelocidad['+ 10 Mbps - 20 Mbps'].astype('int64')
dfAccesosVelocidad['+ 20 Mbps - 30 Mbps'] = dfAccesosVelocidad['+ 20 Mbps - 30 Mbps'].astype('int64')
dfAccesosVelocidad['+ 30 Mbps'] = dfAccesosVelocidad['+ 30 Mbps'].astype('int64')
dfAccesosVelocidad['OTROS'] = dfAccesosVelocidad['OTROS'].astype('int64')
dfAccesosVelocidad['Total'] = dfAccesosVelocidad['Total'].astype('int64')

In [ ]:
# renombrar columnas
dfAccesosVelocidad.rename({'OTROS': 'OtrosVel'}, axis=1, inplace=True)

In [ ]:
dfAccesosVelocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    object
 1   Trimestre            840 non-null    object
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    int64
 4   + 512 Kbps - 1 Mbps  840 non-null    int64
 5   + 1 Mbps - 6 Mbps    840 non-null    int64
 6   + 6 Mbps - 10 Mbps   840 non-null    int64
 7   + 10 Mbps - 20 Mbps  840 non-null    int64
 8   + 20 Mbps - 30 Mbps  840 non-null    int64
 9   + 30 Mbps            840 non-null    int64
 10  OtrosVel             840 non-null    int64
 11  Total                840 non-null    int64
dtypes: int64(9), object(3)
memory usage: 78.9+ KB

### Acceso por velocidad - Nacion

In [ ]:
dfAccesosVelocidadTotales=pd.read_excel('/content/Internet_Accesos-por-velocidad.xlsx', sheet_name='Totales')
dfAccesosVelocidadTotales.head(5)

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,3,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
1,2022,2,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
2,2022,1,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
3,2021,4,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
4,2021,3,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541

In [ ]:
# renombrar columnas
dfAccesosVelocidadTotales.rename({'OTROS': 'OtrosVel'}, axis=1, inplace=True)

In [ ]:
dfAccesosVelocidadTotales.Año = dfAccesosVelocidadTotales.Año.astype('object')
dfAccesosVelocidadTotales.Trimestre = dfAccesosVelocidadTotales.Trimestre.astype('object')

In [ ]:
dfAccesosVelocidadTotales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      35 non-null     object
 1   Trimestre                35 non-null     object
 2   Hasta 512 kbps           35 non-null     int64
 3   Entre 512 Kbps y 1 Mbps  35 non-null     int64
 4   Entre 1 Mbps y 6 Mbps    35 non-null     int64
 5   Entre 6 Mbps y 10 Mbps   35 non-null     int64
 6   Entre 10 Mbps y 20 Mbps  35 non-null     int64
 7   Entre 20 Mbps y 30 Mbps  35 non-null     int64
 8   Más de 30 Mbps           35 non-null     int64
 9   OtrosVel                 35 non-null     int64
 10  Total                    35 non-null     int64
dtypes: int64(9), object(2)
memory usage: 3.1+ KB

# 7. Conectividad

In [ ]:
dfMapaConectividad=pd.read_excel('/content/mapa_conectividad.xlsx', sheet_name='Hoja3', dtype = {'link': object})
dfMapaConectividad.head(5)

In [ ]:
dfMapaConectividad.sort_values(by=['Provincia', 'Partido', 'Localidad'], ignore_index=True, inplace=True)

In [ ]:
dfMapaConectividad.head(5)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 de Mayo,25 de Mayo,23408,SI,SI,--,--,SI,SI,SI,SI,SI,6854100,"-35,4339385892588","-60,1731209454056"
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,280,--,--,--,--,--,--,SI,--,--,6854010,"-35,7392169542026","-60,5590634621789"
2,BUENOS AIRES,25 de Mayo,Del Valle,899,SI,--,--,--,SI,--,--,SI,SI,6854020,"-35,8973453887603","-60,7316089512944"
3,BUENOS AIRES,25 de Mayo,Ernestina,145,SI,--,--,--,--,--,--,--,--,6854030,"-35,2702340519789","-59,5575034078873"
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,547,--,--,--,--,--,SI,--,--,--,6854040,"-35,1643973648093","-60,0813577815069"

In [ ]:
# imputar valores nulos
dfMapaConectividad['link'].fillna(value='0', inplace=True)

In [ ]:
# renombrar columnas
dfMapaConectividad.rename({'link': 'Link Indec'}, axis=1, inplace=True)

In [ ]:
dfMapaConectividad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  Link Indec     4312 non-null   object
 14  Latitud        4312 non-null   object
 15  Longitud       4312 non-null   object
dtypes: int64(1), object(15)
memory usage: 539.1+ KB

In [ ]:
dfMapaConectividad['Provincia'].unique()

array(['BUENOS AIRES', 'CABA', 'CATAMARCA', 'CHACO', 'CHUBUT', 'CORDOBA',
       'CORRIENTES', 'ENTRE RIOS', 'FORMOSA', 'JUJUY', 'LA PAMPA',
       'LA RIOJA', 'MENDOZA', 'MISIONES', 'NEUQUEN', 'RIO NEGRO', 'SALTA',
       'SAN JUAN', 'SAN LUIS', 'SANTA CRUZ', 'SANTA FE',
       'SANTIAGO DEL ESTERO', 'TIERRA DEL FUEGO', 'TUCUMAN'], dtype=object)

In [ ]:
dfMapaConectividad['Partido'].nunique()

445

In [ ]:
dfMapaConectividad['Localidad'].nunique()

3912

# 8. Acceso por Tecnologia por Localizacion

In [40]:
dfAccesosTecnoLoc=pd.read_excel('/content/Internet-Accesos-por-tecno_por_loc.xlsx', sheet_name='Accesos_tecnologia_localidad')
dfAccesosTecnoLoc.head(5)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,873,4704,0,2,0,975,0,664,7218
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,0,782,0,6,167,0,0,327,1282
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,0,0,0,0,0,0,0,6,6

In [41]:
# renombrar columnas
dfAccesosTecnoLoc.rename({'CABLEMODEM': 'Cable modem',	'DIAL UP': 'Dial up',	'FIBRA OPTICA': 'Fibra optica',	'OTROS': 'OtrosTecno',	'SATELITAL': 'Satelital',	'WIRELESS': 'Wireless',	'Total general': 'Total'}, axis=1, inplace=True)

In [42]:
# organizar columnas
dfAccesosTecnoLoc = dfAccesosTecnoLoc[['Provincia',	'Partido',	'Localidad',	'Link Indec',	'Dial up', 'ADSL',	'WIMAX', 'Cable modem',	'Fibra optica',	'Satelital',	'Wireless',	'OtrosTecno', 'Total']]

In [ ]:
dfAccesosTecnoLoc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Provincia     3142 non-null   object
 1   Partido       3142 non-null   object
 2   Localidad     3142 non-null   object
 3   Link Indec    3142 non-null   object
 4   Dial up       3142 non-null   int64
 5   ADSL          3142 non-null   int64
 6   WIMAX         3142 non-null   int64
 7   Cable modem   3142 non-null   int64
 8   Fibra optica  3142 non-null   int64
 9   Satelital     3142 non-null   int64
 10  Wireless      3142 non-null   int64
 11  OtrosTecno    3142 non-null   int64
 12  Total         3142 non-null   int64
dtypes: int64(9), object(4)
memory usage: 319.2+ KB

In [ ]:
dfAccesosTecnoLoc['Provincia'].unique()

array(['BUENOS AIRES', 'CABA', 'CATAMARCA', 'CHACO', 'CHUBUT', 'CORDOBA',
       'CORRIENTES', 'ENTRE RIOS', 'FORMOSA', 'JUJUY', 'LA PAMPA',
       'LA RIOJA', 'MENDOZA', 'MISIONES', 'NEUQUEN', 'RIO NEGRO', 'SALTA',
       'SAN JUAN', 'SAN LUIS', 'SANTA CRUZ', 'SANTA FE',
       'SANTIAGO DEL ESTERO', 'TIERRA DEL FUEGO', 'TUCUMAN'], dtype=object)

In [ ]:
dfAccesosTecnoLoc['Partido'].nunique()

432

In [ ]:
dfAccesosTecnoLoc['Localidad'].nunique()

2850

# 9. Acceso por Velocidad por Localizacion

In [22]:
dfAccesosVelLoc=pd.read_excel('/content/Internet_Accesos-por-velocidad_por loc.xlsx', sheet_name='internet_Accesos_por_loc')
dfAccesosVelLoc.head(5)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,512 mbps,520 mbps,600 mbps,680 mbps,700 mbps,800 mbps,850 mbps,900 mbps,1000 mbps,1024 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# imputar valores nulos
dfAccesosVelLoc.fillna(value=0, inplace=True)

In [33]:
dfAccesosVelLoc['Hasta 2 Mbps'] = dfAccesosVelLoc.iloc[:, 5:15].sum(axis=1)
dfAccesosVelLoc['Entre 2.2 Mbps y 4 Mbps'] = dfAccesosVelLoc.iloc[:, 15:21].sum(axis=1)
dfAccesosVelLoc['Entre 4.5 Mbps y 8 Mbps'] = dfAccesosVelLoc.iloc[:, 21:28].sum(axis=1)
dfAccesosVelLoc['Entre 9 Mbps y 16 Mbps'] = dfAccesosVelLoc.iloc[:, 28:36].sum(axis=1)
dfAccesosVelLoc['Entre 17 Mbps y 32 Mbps'] = dfAccesosVelLoc.iloc[:, 36:52].sum(axis=1)
dfAccesosVelLoc['Entre 34 Mbps y 64 Mbps'] = dfAccesosVelLoc.iloc[:, 52:70].sum(axis=1)
dfAccesosVelLoc['Entre 64 Mbps y 126 Mbps'] = dfAccesosVelLoc.iloc[:, 70:88].sum(axis=1)
dfAccesosVelLoc['Entre 140 Mbps y 256 Mbps'] = dfAccesosVelLoc.iloc[:, 88:101].sum(axis=1)
dfAccesosVelLoc['Entre 275 Mbps y 512 Mbps'] = dfAccesosVelLoc.iloc[:, 101:110].sum(axis=1)
dfAccesosVelLoc['Mas de 512 Mbps'] = dfAccesosVelLoc.iloc[:, 110:119].sum(axis=1)

In [25]:
 # mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [32]:
dfAccesosVelLoc.iloc[:, 21:28]

      4,5 mbps  5 mbps  6 mbps  6,4 mbps  7 mbps  7,5 mbps  8 mbps
0          0.0     0.0   173.0       0.0     0.0       0.0   299.0
1          0.0     0.0    45.0       0.0     0.0       0.0     0.0
2          0.0     0.0     0.0       0.0     0.0       0.0     0.0
3          0.0     0.0     0.0       0.0     0.0       0.0     0.0
4          0.0     7.0     3.0       0.0     0.0       0.0     4.0
...        ...     ...     ...       ...     ...       ...     ...
3093       0.0     0.0     0.0       0.0     0.0       0.0     0.0
3094       0.0     0.0     0.0       0.0     0.0       0.0     0.0
3095       0.0     0.0    71.0       0.0     0.0       0.0     0.0
3096       0.0    97.0   329.0       0.0     0.0       0.0     0.0
3097       0.0     0.0    11.0       0.0     0.0       0.0     0.0

[3098 rows x 7 columns]

In [34]:
# renombrar columnas
dfAccesosVelLoc.rename({'Otros': 'OtrosVel'}, axis=1, inplace=True)

In [36]:
# organizar columnas
dfAccesosVelLoc = dfAccesosVelLoc[['Provincia',	'Partido',	'Localidad',	'Link Indec',	'Hasta 2 Mbps', 'Entre 2.2 Mbps y 4 Mbps', 'Entre 4.5 Mbps y 8 Mbps',	'Entre 9 Mbps y 16 Mbps',	'Entre 17 Mbps y 32 Mbps',	'Entre 34 Mbps y 64 Mbps',	'Entre 64 Mbps y 126 Mbps',	'Entre 140 Mbps y 256 Mbps',	'Entre 275 Mbps y 512 Mbps',	'Mas de 512 Mbps', 'OtrosVel',]]

In [ ]:
dfAccesosVelLoc['Hasta 2 Mbps'] = dfAccesosVelLoc['Hasta 2 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 2.2 Mbps y 4 Mbps'] = dfAccesosVelLoc['Entre 2.2 Mbps y 4 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 4.5 Mbps y 8 Mbps'] = dfAccesosVelLoc['Entre 4.5 Mbps y 8 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 9 Mbps y 16 Mbps'] = dfAccesosVelLoc['Entre 9 Mbps y 16 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 17 Mbps y 32 Mbps'] = dfAccesosVelLoc['Entre 17 Mbps y 32 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 34 Mbps y 64 Mbps'] = dfAccesosVelLoc['Entre 34 Mbps y 64 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 64 Mbps y 126 Mbps'] = dfAccesosVelLoc['Entre 64 Mbps y 126 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 140 Mbps y 256 Mbps'] = dfAccesosVelLoc['Entre 140 Mbps y 256 Mbps'].astype('int64')
dfAccesosVelLoc['Entre 275 Mbps y 512 Mbps'] = dfAccesosVelLoc['Entre 275 Mbps y 512 Mbps'].astype('int64')
dfAccesosVelLoc['Mas de 512 Mbps'] = dfAccesosVelLoc['Mas de 512 Mbps'].astype('int64')
dfAccesosVelLoc['OtrosVel'] = dfAccesosVelLoc['OtrosVel'].astype('int64')

In [38]:
dfAccesosVelLoc.head(5)

,Provincia,Partido,Localidad,Link Indec,Hasta 2 Mbps,Entre 2.2 Mbps y 4 Mbps,Entre 4.5 Mbps y 8 Mbps,Entre 9 Mbps y 16 Mbps,Entre 17 Mbps y 32 Mbps,Entre 34 Mbps y 64 Mbps,Entre 64 Mbps y 126 Mbps,Entre 140 Mbps y 256 Mbps,Entre 275 Mbps y 512 Mbps,Mas de 512 Mbps,OtrosVel
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,21,230,472,4693,874,37,9,0,0,0,0
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,0,0,45,13,0,0,0,0,0,0,0
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,1,181,0,10,0,0,0,0,0,0,0
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,0,66,0,0,0,0,0,0,0,0,0
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,106,59,14,1,0,0,1,0,0,0,0

In [39]:
dfAccesosVelLoc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Provincia                  3098 non-null   object
 1   Partido                    3098 non-null   object
 2   Localidad                  3098 non-null   object
 3   Link Indec                 3098 non-null   object
 4   Hasta 2 Mbps               3098 non-null   int64
 5   Entre 2.2 Mbps y 4 Mbps    3098 non-null   int64
 6   Entre 4.5 Mbps y 8 Mbps    3098 non-null   int64
 7   Entre 9 Mbps y 16 Mbps     3098 non-null   int64
 8   Entre 17 Mbps y 32 Mbps    3098 non-null   int64
 9   Entre 34 Mbps y 64 Mbps    3098 non-null   int64
 10  Entre 64 Mbps y 126 Mbps   3098 non-null   int64
 11  Entre 140 Mbps y 256 Mbps  3098 non-null   int64
 12  Entre 275 Mbps y 512 Mbps  3098 non-null   int64
 13  Mas de 512 Mbps            3098 non-null   int64
 14  OtrosVel                   3098 non-null   int64
dtypes: int64(11), object(4)
memory usage: 363.2+ KB

In [ ]:
dfAccesosVelLoc['Provincia'].unique()

array(['BUENOS AIRES', 'CABA', 'CATAMARCA', 'CHACO', 'CHUBUT', 'CORDOBA',
       'CORRIENTES', 'ENTRE RIOS', 'FORMOSA', 'JUJUY', 'LA PAMPA',
       'LA RIOJA', 'MENDOZA', 'MISIONES', 'NEUQUEN', 'RIO NEGRO', 'SALTA',
       'SAN JUAN', 'SAN LUIS', 'SANTA CRUZ', 'SANTA FE',
       'SANTIAGO DEL ESTERO', 'TIERRA DEL FUEGO', 'TUCUMAN'], dtype=object)

In [ ]:
dfAccesosVelLoc['Partido'].nunique()

432

In [ ]:
dfAccesosVelLoc['Localidad'].nunique()

2801

# Organizar Datasets

# Dataset Nacion
### Ingresos + Penetracion + Banda + Acceso por Tecnologia + Promedio Velocidad + Acceso por Velocidad

In [ ]:
dfNacion = dfIngresos.merge(dfPenetracionTotales, how='inner', on=['Año', 'Trimestre'], suffixes=('_a', '_b'))
dfNacion = dfNacion.merge(dfBAFDialTotales, how='inner', on=['Año', 'Trimestre'], suffixes=('_a', '_b'))
dfNacion = dfNacion.merge(dfAccesosTecnologiaTotales, how='inner', on=['Año', 'Trimestre'], suffixes=('_a', '_b'))
dfNacion = dfNacion.merge(dfHistoricoVelocidadTotales, how='inner', on=['Año', 'Trimestre'], suffixes=('_a', '_b'))
dfNacion = dfNacion.merge(dfAccesosVelocidadTotales, how='inner', on=['Año', 'Trimestre'], suffixes=('_a', '_b'))

In [ ]:
# eliminar columnas
dfNacion.drop(['Periodo_a', 'Periodo_b', 'Total_a', 'Total_b', 'Trimestre.1'], axis=1, inplace=True)

In [ ]:
pd.set_option('display.max_columns', None) # mostrar todas las columnas
dfNacion.head(5)

,Año,Trimestre,Ingresos (miles de pesos),Accesos por cada 100 hogares,Accesos por cada 100 hab,Banda ancha fija,Dial up,ADSL,Cablemodem,Fibra óptica,Wireless,OtrosTecno,Mbps (Media de bajada),Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OtrosVel,Total
0,2022,3,67055929,76.64,23.95,11078691,12437,1395277,6031970,2871541,557110,235230,62.46,33013,96727,1161370,1151906,823505,479822,6995750,349035,11091128
1,2022,2,60335723,75.97,23.72,10946248,12436,1468333,5979214,2723285,556243,231609,58.44,33667,99498,1193090,1197030,856562,485321,6741922,351594,10958684
2,2022,1,55589997,73.88,23.05,10611390,12619,1533240,6073426,2219533,545814,251996,55.11,34890,104840,1263273,1209148,967508,509830,6336187,198333,10624009
3,2021,4,45467887,73.18,22.81,10476933,12861,1657615,5984240,2072236,523107,252596,52.34,41262,28521,1413208,1245333,976539,558358,6032322,194251,10489794
4,2021,3,42999944,70.58,21.98,10075184,10357,1950631,5826257,1566048,492415,250190,48.46,40174,41437,2550229,1095772,710122,536364,4948174,163269,10085541

In [ ]:
dfNacion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 0 to 34
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     object
 1   Trimestre                     35 non-null     object
 2   Ingresos (miles de pesos)     35 non-null     int64
 3   Accesos por cada 100 hogares  35 non-null     float64
 4   Accesos por cada 100 hab      35 non-null     float64
 5   Banda ancha fija              35 non-null     int64
 6   Dial up                       35 non-null     int64
 7   ADSL                          35 non-null     int64
 8   Cablemodem                    35 non-null     int64
 9   Fibra óptica                  35 non-null     int64
 10  Wireless                      35 non-null     int64
 11  OtrosTecno                    35 non-null     int64
 12  Mbps (Media de bajada)        35 non-null     float64
 13  Hasta 512 kbps                35 non-null     int64
 14  Entre 512 Kbps y 1 Mbps       35 non-null     int64
 15  Entre 1 Mbps y 6 Mbps         35 non-null     int64
 16  Entre 6 Mbps y 10 Mbps        35 non-null     int64
 17  Entre 10 Mbps y 20 Mbps       35 non-null     int64
 18  Entre 20 Mbps y 30 Mbps       35 non-null     int64
 19  Más de 30 Mbps                35 non-null     int64
 20  OtrosVel                      35 non-null     int64
 21  Total                         35 non-null     int64
dtypes: float64(3), int64(17), object(2)
memory usage: 6.3+ KB

In [ ]:
# df
dfNacion.to_csv('dfNacion.csv', index=False)

# Dataset Provincia
### Penetracion Provincia = Penetracion Provincia Hogar + Penetracion Provincia Habitantes

In [ ]:
dfPP = dfPenetracionPoblacion.merge(dfPenetracionHogares, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_a', '_b'))

In [ ]:
dfPP.head(5)

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares
0,2022,3,Buenos Aires,26.37,78.11
1,2022,3,Capital Federal,50.22,122.28
2,2022,3,Catamarca,16.62,65.33
3,2022,3,Chaco,11.72,43.86
4,2022,3,Chubut,25.86,84.38

In [ ]:
dfPP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    object
 1   Trimestre                     840 non-null    object
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hab      840 non-null    float64
 4   Accesos por cada 100 hogares  840 non-null    float64
dtypes: float64(2), object(3)
memory usage: 39.4+ KB

# Dataset Provincia
### Penetracion PP + Banda + Acceso por Tecnologia + Promedio Velocidad + Acceso por Velocidad

In [ ]:
dfProvincia = dfPP.merge(dfBAFDial, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_a', '_b'))
dfProvincia = dfProvincia.merge(dfAccesosTecnologia, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_a', '_b'))
dfProvincia = dfProvincia.merge(dfHistoricoVelocidadProv, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_a', '_b'))
dfProvincia = dfProvincia.merge(dfAccesosVelocidad, how='inner', on=['Año', 'Trimestre', 'Provincia'], suffixes=('_a', '_b'))

In [ ]:
# eliminar columnas
dfProvincia.drop(['Total_a', 'Total_b'], axis=1, inplace=True)

In [ ]:
dfProvincia.head(5)

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares,Banda ancha fija,Dial up,ADSL,Cablemodem,Fibra óptica,Wireless,OtrosTecno,Mbps (Media de bajada),HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OtrosVel,Total
0,2022,3,Buenos Aires,26.37,78.11,4715469,6199,339648,2748325,1436433,126846,70416,70.19,29985,27709,290315,297915,267044,124190,3618689,65821,4721668
1,2022,3,Capital Federal,50.22,122.28,1545534,2145,140791,1240125,129218,5758,31787,101.05,517,5742,34371,67829,51946,28692,1253105,105477,1547679
2,2022,3,Catamarca,16.62,65.33,70292,1,10010,10495,46224,1329,2235,60.99,71,384,3107,5389,5099,3737,50298,2208,70293
3,2022,3,Chaco,11.72,43.86,144141,5,27164,61800,44645,8178,2359,53.21,461,987,16782,18938,8049,15828,79390,3711,144146
4,2022,3,Chubut,25.86,84.38,164874,904,45377,72212,9574,29784,8831,15.57,109,1444,45707,30940,34682,15309,17563,20024,165778

In [ ]:
dfProvincia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 840 entries, 0 to 839
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    object
 1   Trimestre                     840 non-null    object
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hab      840 non-null    float64
 4   Accesos por cada 100 hogares  840 non-null    float64
 5   Banda ancha fija              840 non-null    int64
 6   Dial up                       840 non-null    int64
 7   ADSL                          840 non-null    int64
 8   Cablemodem                    840 non-null    int64
 9   Fibra óptica                  840 non-null    int64
 10  Wireless                      840 non-null    int64
 11  OtrosTecno                    840 non-null    int64
 12  Mbps (Media de bajada)        840 non-null    float64
 13  HASTA 512 kbps                840 non-null    int64
 14  + 512 Kbps - 1 Mbps           840 non-null    int64
 15  + 1 Mbps - 6 Mbps             840 non-null    int64
 16  + 6 Mbps - 10 Mbps            840 non-null    int64
 17  + 10 Mbps - 20 Mbps           840 non-null    int64
 18  + 20 Mbps - 30 Mbps           840 non-null    int64
 19  + 30 Mbps                     840 non-null    int64
 20  OtrosVel                      840 non-null    int64
 21  Total                         840 non-null    int64
dtypes: float64(3), int64(16), object(3)
memory usage: 150.9+ KB

In [ ]:
# df
dfProvincia.to_csv('dfProvincia.csv', index=False)

# Dataset Localidad
### Conectividad + Acceso por Tecnologia por Localidad + Acceso por Velocidad por Localidad

In [ ]:
#dfLocalidadB = dfMapaConectividad.merge(dfAccesosTecnoLoc, how='outer', on=['Provincia', 'Partido', 'Localidad', 'Link Indec'], suffixes=('_a', '_b'))
#dfLocalidadB = dfLocalidadB.merge(dfAccesosVelLoc, how='inner', on=['Provincia', 'Partido', 'Localidad', 'Link Indec'], suffixes=('_a', '_b'))

In [80]:
dfLocalidad = dfAccesosTecnoLoc.merge(dfAccesosVelLoc, how='inner', on=['Provincia', 'Partido', 'Localidad'], suffixes=('_a', '_b'))

In [81]:
# eliminar columnas
dfLocalidad.drop(['Link Indec_a', 'Link Indec_b'], axis=1, inplace=True)

In [71]:
dfLocalidad.head(5)

,Provincia,Partido,Localidad,Dial up,ADSL,WIMAX,Cable modem,Fibra optica,Satelital,Wireless,OtrosTecno,Total,Hasta 2 Mbps,Entre 2.2 Mbps y 4 Mbps,Entre 4.5 Mbps y 8 Mbps,Entre 9 Mbps y 16 Mbps,Entre 17 Mbps y 32 Mbps,Entre 34 Mbps y 64 Mbps,Entre 64 Mbps y 126 Mbps,Entre 140 Mbps y 256 Mbps,Entre 275 Mbps y 512 Mbps,Mas de 512 Mbps,OtrosVel
0,BUENOS AIRES,25 de Mayo,25 de Mayo,0,873,0,4704,2,975,664,0,7218,21,230,472,4693,874,37,9,0,0,0,0
1,BUENOS AIRES,25 de Mayo,Del Valle,0,181,0,0,0,1,0,10,192,1,181,0,10,0,0,0,0,0,0,0
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,0,0,0,0,0,0,181,0,181,106,59,14,1,0,0,1,0,0,0,0
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,0,0,0,782,6,0,327,167,1282,161,53,891,142,34,1,0,0,0,0,0
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,0,0,0,0,0,0,6,0,6,0,6,0,0,0,0,0,0,0,0,0

In [82]:
dfLocalidad['Provincia'] = dfLocalidad['Provincia'].str.title()

In [83]:
dfLocalidad.loc[dfLocalidad[dfLocalidad['Provincia']=='Caba'].index, 'Provincia'] = 'Capital Federal'

In [84]:
dfLocalidad.rename({'Total': 'TotalTecno'}, axis=1, inplace=True)

In [85]:
dfLocalidad['TotalVel'] = dfLocalidad.iloc[:, 12:23].sum(axis=1)

In [86]:
dfLocalidad = dfLocalidad.groupby(['Provincia'], as_index=False).sum()
dfLocalidad

<ipython-input-86-a0bfe4858108>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dfLocalidad = dfLocalidad.groupby(['Provincia'], as_index=False).sum()

,Provincia,Dial up,ADSL,WIMAX,Cable modem,Fibra optica,Satelital,Wireless,OtrosTecno,TotalTecno,Hasta 2 Mbps,Entre 2.2 Mbps y 4 Mbps,Entre 4.5 Mbps y 8 Mbps,Entre 9 Mbps y 16 Mbps,Entre 17 Mbps y 32 Mbps,Entre 34 Mbps y 64 Mbps,Entre 64 Mbps y 126 Mbps,Entre 140 Mbps y 256 Mbps,Entre 275 Mbps y 512 Mbps,Mas de 512 Mbps,OtrosVel,TotalVel
0,Buenos Aires,6198,339214,1672,2746923,1435445,1302,126100,31052,4687906,53219,116502,230712,331741,995288,1368427,1082932,229988,197516,18032,25725,4650082
1,Capital Federal,2145,140791,0,1240125,129218,57,5758,29585,1547679,6587,17505,33196,84396,100468,459036,521039,74160,131205,14609,460,1442661
2,Catamarca,1,10010,0,10495,46224,82,1329,2152,70293,570,1147,1847,6800,7423,31597,16458,42,2200,1,2208,70293
3,Chaco,5,27164,0,61768,44645,73,8178,1218,143051,2217,4997,11768,22018,20002,45614,29199,0,4521,45,1036,141417
4,Chubut,903,43244,0,72211,8862,116,29507,7796,162639,5362,21670,29912,51823,17288,16121,425,1,26,0,15047,157675
5,Cordoba,68,163111,58,465461,338540,100,58774,7986,1034098,20206,58903,99659,136149,58346,371887,242261,312,35197,560,12769,1036249
6,Corrientes,4,36508,59,77140,18619,86,7256,5144,144816,6891,9130,14259,23941,26583,28688,24343,0,3844,60,6967,144706
7,Entre Rios,22,60310,224,132952,36971,27,25892,5121,261519,10218,13624,31497,52117,42382,53443,42947,1,5690,96,9777,261792
8,Formosa,1,14470,0,25880,11041,49,16759,154,68354,2251,12845,8776,20323,5870,7821,8634,0,1230,15,579,68344
9,Jujuy,0,19257,0,52923,40071,96,4033,1199,117579,3571,8125,10382,38008,12839,37042,7849,1,995,8,601,119421
10,La Pampa,171,7796,0,60077,23550,74,20216,4206,116090,5897,13650,45783,14764,10257,20185,2508,0,35,0,2729,115808
11,La Rioja,4,6842,0,53899,19697,19,6383,7,86851,714,829,2092,19640,13200,37693,11975,137,581,2,3,86866
12,Mendoza,777,37659,0,78858,142585,50,27381,1932,289242,7557,17183,34315,48179,73264,83513,17550,16,2786,2,3812,288177
13,Misiones,0,35513,0,88902,39046,45,11074,2759,177339,14873,6863,19319,23570,28865,39163,32757,3852,4485,54,2717,176518
14,Neuquen,468,29352,94,75815,29396,139,27482,412,163158,2683,19054,24592,13487,21423,34381,27069,244,5299,68,12069,160369
15,Rio Negro,548,35552,0,48260,41017,211,16648,18209,160445,4266,17427,21995,28122,27109,19026,15863,42,2260,176,22919,159205
16,Salta,5,40006,0,96984,50254,145,10082,7048,204524,3155,16082,21131,67864,4169,47795,32772,0,5050,29,6362,204409
17,San Juan,281,38570,0,22723,12328,44,21826,6576,102348,3454,23859,15609,22062,17641,8736,400,0,14,0,3744,95519
18,San Luis,182,6860,0,29363,248,34,70614,14669,121970,437,2661,6287,30170,67659,11,0,0,0,0,14447,121672
19,Santa Cruz,198,10170,0,24047,10815,83,3896,301,49510,9192,5822,6556,18920,3776,4343,254,0,0,0,392,49255
20,Santa Fe,110,183605,0,426255,215189,109,42886,16589,884743,21293,42405,95752,206646,104940,207482,166359,883,21260,225,14706,881951
21,Santiago Del Estero,2,15385,0,80937,13170,127,6610,2479,118710,2245,12227,16882,70383,4157,4781,6929,0,623,9,792,119028
22,Tierra Del Fuego,312,12754,0,39963,403,23,125,316,53896,854,5881,15417,25345,2062,903,48,33,1,1,2908,53453
23,Tucuman,30,77738,0,18518,162345,35,3997,444,263107,2204,11129,21620,51187,17087,88472,64153,4,6951,20,200,263027

In [87]:
dfLocalidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Provincia                  24 non-null     object
 1   Dial up                    24 non-null     int64
 2   ADSL                       24 non-null     int64
 3   WIMAX                      24 non-null     int64
 4   Cable modem                24 non-null     int64
 5   Fibra optica               24 non-null     int64
 6   Satelital                  24 non-null     int64
 7   Wireless                   24 non-null     int64
 8   OtrosTecno                 24 non-null     int64
 9   TotalTecno                 24 non-null     int64
 10  Hasta 2 Mbps               24 non-null     int64
 11  Entre 2.2 Mbps y 4 Mbps    24 non-null     int64
 12  Entre 4.5 Mbps y 8 Mbps    24 non-null     int64
 13  Entre 9 Mbps y 16 Mbps     24 non-null     int64
 14  Entre 17 Mbps y 32 Mbps    24 non-null     int64
 15  Entre 34 Mbps y 64 Mbps    24 non-null     int64
 16  Entre 64 Mbps y 126 Mbps   24 non-null     int64
 17  Entre 140 Mbps y 256 Mbps  24 non-null     int64
 18  Entre 275 Mbps y 512 Mbps  24 non-null     int64
 19  Mas de 512 Mbps            24 non-null     int64
 20  OtrosVel                   24 non-null     int64
 21  TotalVel                   24 non-null     int64
dtypes: int64(21), object(1)
memory usage: 4.2+ KB

In [88]:
dfLocalidad['Provincia'].unique()

array(['Buenos Aires', 'Capital Federal', 'Catamarca', 'Chaco', 'Chubut',
       'Cordoba', 'Corrientes', 'Entre Rios', 'Formosa', 'Jujuy',
       'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquen',
       'Rio Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz',
       'Santa Fe', 'Santiago Del Estero', 'Tierra Del Fuego', 'Tucuman'],
      dtype=object)

In [90]:
# df
dfLocalidad.to_csv('dfLocalidad.csv', index=False)